{{>header}}
    <div class="container-fluid">
      <h1>{{_l.update}} Dependency</h1>
      <form class="form form-horizontal" action="/dependency/save" method="post" role="form">
        <input type="hidden" name="id" value="{{item.id}}" />
          <div class="form-group">
            <label for="title">name</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="name" value="{{item.name}}" />
          </div>
          <div class="form-group">
            <label for="title">url</label>
            <input class="form-control" type="text" id="url" name="url" placeholder="url" value="{{item.url}}" />
          </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </form>
    </div>
{{>footer}}
