{{>header}}
  <header class="minimal-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="minimal-header-text">
            <h1>{{content.title}}</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{{_baseUrl}}}/">Home</a></li>
                <li class="breadcrumb-item"><a href="{{{_baseUrl}}}/">Pages</a></li>
                <li class="breadcrumb-item active">{{content.title}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="container">
    <div class="tui-content" id="content" data-src="{{{content.content}}}"></div>
    <noscript><div class="basic-content">{{{content.contentRaw}}}</div></noscript>
  </main>
{{>footer}}
