    <link href="/main.css" rel="stylesheet">
    <link href="/assets/css/pace.min.css" rel="stylesheet">
    <link href="/assets/themify-icons/themify-icons.min.css" rel="stylesheet">
    <link href="/assets/css/metisMenu.min.css" rel="stylesheet">
    <link href="/assets/css/magnific-popup.min.css" rel="stylesheet">
    <link href="/assets/OwlCarousel2/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/OwlCarousel2/owl.theme.default.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
