<!DOCTYPE HTML>
<html lang="en-us">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  {{>css}}
  <title>{{_appTitle}} - {{_l.kado}} {{_l.version}} {{_version}}</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
</head>
<body>
<div class="loader">
  {{>doc_navbar}}
  <div class="page-content">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-9 content">
          <div class="doc-content">
