          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer">
      <div class="row align-items-center ">
        <div class="col-md-7 order-md-first order-last">
          <div class="Copyright-text">
            <p>&copy; {{_currentYear}} <a href="https://kado.org/">{{_l.kado}}</a>
              <strong>v{{_version}}</strong> by
              <a href="https://www.nullivex.com">Nullivex</a> under
              <a href="https://opensource.org/licenses/lgpl-3.0.html">Lesser</a>
              <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> |
              Template based on <a href="https://getbootstrap.com">Bootstrap CSS</a>
            </p>
            <p>
              Written with purpose using <a href="https://nodejs.org">Node.js</a>,
              <a href="https://www.w3schools.com/js/js_es6.asp">ES6</a>,
              <a href="https://www.w3schools.com/Html/html5_intro.asp">HTML5</a>,
              <a href="https://www.w3schools.com/Css/">CSS3</a>
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <ul class="footer-menu">
            <li><a href="/terms-of-use">Terms of use </a></li>
            <li><a href="/changelog">Changelog</a></li>
            <li><a href="/contact">Contact us</a></li>
          </ul>
        </div>
      </div>
    </footer><!-- /.End of site footer -->
  </div><!-- /.Page Content Holder -->
  <div class="overlay"></div>
</div><!-- /.End of loader -->
{{>js}}
</body>
</html>
