<div class="top-search">
  <div class="input-group">
    <span class="input-group-addon"><i class="ti-search"></i></span>
    <input type="text" class="form-control" placeholder="Search for snippets ......">
    <span class="input-group-addon close-search"><i class="ti-close"></i></span>
  </div>
</div>
<!-- /.End of Top Search -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="/">
    Kado
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" id="sidebarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {{>nav}}
  </div>
</nav>
<!-- /.End of Navbar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3><i class="fas fa-tachometer-alt"></i><span>Kado</span>Docs</h3>
    <div class="dropdown version">
      <a class="ver-drop dropdown-toggle" href="#" role="button" id="versionDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        v3.x
      </a>
      <div class="dropdown-menu" aria-labelledby="versionDropdownMenu">
        <div>Versions</div>
        <a class="dropdown-item active" href="{{{_baseUrl}}}{{{_u._doc}}}/kado">latest</a>
        <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x">3.x</a>
      </div>
    </div>
    <div class="form-group has-search">
      <span class="ti-search form-control-feedback"></span>
      <form action="{{{_baseUrl}}}{{{_u._search}}}">
      <input type="text" class="form-control" name="searchPhrase" placeholder="Search docs ..." value="{{{_searchPhrase}}}">
      </form>
    </div>
    <!-- /.Actual search box -->
  </div>
  <ul class="metismenu sidebarMenu list-unstyled">
    <li><a href="/">Overview</a></li>
    <li class="active">
      <a class="has-arrow" href="#" aria-expanded="true">Documentation</a>
      <ul aria-expanded="true">
        <li class="active"><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/getting-started">Getting Started</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/installation">Installation</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/configuration">Configuration</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/database">Database</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/interfaces">Interfaces</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/templates">Templates</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/api">API</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/release-cycle">Release Cycle</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/kado-reference">Kado Reference</a></li>
        <li><a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/developer">Developer</a></li>
      </ul>
    </li>
  </ul>
</nav>
<!-- /.End of Sidebar Holder -->