{{>header}}
<header class="minimal-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="minimal-header-text">
          <h1>{{_l.an_error_occurred}}</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/">Pages</a></li>
              <li class="breadcrumb-item active">Error</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<main role="main" class="container">
  {{error}}
  <br /><br />
</main>
{{>footer}}
