<footer class="bg-gray">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
          <div class="footer-about">
            <div class="footer-logo">
              Kado
            </div>
            <p>115 S Pikes Peak Ave, Florence CO 81226</p>
            <a class="email-link" href="mailto:hello@kado.org">hello@kado.org</a>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="footer-link">
            <h4 class="link-title">Resources</h4>
            <a href="{{{_baseUrl}}}/content/guide-list" class="link">Guides</a>
            <a href="{{{_baseUrl}}}/content/support" class="link">Help Center</a>
            <a href="{{{_baseUrl}}}/doc" class="link">Documentation</a>
          </div>
        </div>
        <div class="col-6 col-md-2 d-md-none d-lg-block">
          <div class="footer-link">
            <h4 class="link-title">Company</h4>
            <a href="{{{_baseUrl}}}/content/about-us" class="link">About us</a>
            <a href="{{{_baseUrl}}}/content/support" class="link">Contact Support</a>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5">
          <div class="newslatter">
            <h4 class="link-title">Connect with us</h4>
            <p>Subscribe to our newsletter!</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter Your Email">
              <div class="input-group-append">
                <button class="btn btn-outline" type="button">Subscribe</button>
              </div>
            </div>
          </div><!-- /.End of newslatter -->
          <ul class="social-icon">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul><!-- /.End of footer social icon -->
        </div>
      </div>
      <div class="sub-footer">
        <div class="row align-items-center ">
          <div class="col-md-7 order-md-first order-last">
            <div class="Copyright-text">
              <p>&copy; {{_currentYear}} <a href="https://kado.org/">{{_l.kado}}</a>
                <strong>v{{_version}}</strong> by
                <a href="https://www.nullivex.com">Nullivex</a> under
                <a href="https://opensource.org/licenses/lgpl-3.0.html">Lesser</a>
                <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> |
                Template based on <a href="https://getbootstrap.com">Bootstrap CSS</a> |
                Written with purpose using <a href="https://nodejs.org">Node.js</a>,
                <a href="https://www.w3schools.com/js/js_es6.asp">ES6</a>,
                <a href="https://www.w3schools.com/Html/html5_intro.asp">HTML5</a>,
                <a href="https://www.w3schools.com/Css/">CSS3</a>
              </p>
            </div>
          </div>
          <div class="col-md-5">
            <ul class="footer-menu">
              <li><a href="{{{_baseUrl}}}/content/terms-of-use">Terms of use </a></li>
              <li><a href="{{{_baseUrl}}}/content/changelog">Changelog</a></li>
              <li><a href="mailto:hello@kado.org">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.End of sub footer -->
    </div>
  </div>
</footer><!-- /.End of footer -->
</div>
<!-- Optional JavaScript -->
{{>js}}
</body>
</html>
