<footer class="bg-gray">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
          <div class="footer-about">
            <div class="footer-logo">
              Kado
            </div>
            <p>115 S Pikes Peak Ave, Florence CO 81226</p>
            <a class="email-link" href="mailto:hello@kado.org">hello@kado.org</a>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="footer-link">
            <h4 class="link-title">Resources</h4>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/guides" class="link">Guides</a>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/faq" class="link">Help Center</a>
            <a href="{{{_baseUrl}}}{{{_u._doc}}}/kado" class="link">Documentation</a>
          </div>
        </div>
        <div class="col-6 col-md-2 d-md-none d-lg-block">
          <div class="footer-link">
            <h4 class="link-title">Company</h4>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/about-us" class="link">About us</a>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/support" class="link">Contact Support</a>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5">
          <div class="newslatter">
            <h4 class="link-title">Connect with us</h4>
            <!--<p>Subscribe to our newsletter!</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter Your Email">
              <div class="input-group-append">
                <button class="btn btn-outline" type="button">Subscribe</button>
              </div>
            </div>-->
          </div><!-- /.End of newslatter -->
          <ul class="social-icon">
            <li><a href="https://twitter.com/KadoSocial"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://gitter.im/KadoOrg/Lobby?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge" rel="nofollow"><img src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" alt="Join the chat at https://gitter.im/KadoOrg/Lobby" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg" style="max-width:100%;"></a></li>
          </ul><!-- /.End of footer social icon -->
          <form class="social-icon" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="SV98BN873WC4J">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
      <div class="sub-footer">
        <div class="row align-items-center ">
          <div class="col-md-7 order-md-first order-last">
            <div class="Copyright-text">
              <p>&copy; {{_currentYear}} <a href="https://kado.org/">{{_l.kado}}</a>
                <strong>v{{_version}}</strong> by
                <a href="https://www.nullivex.com">Nullivex</a> under
                <a href="https://opensource.org/licenses/lgpl-3.0.html">Lesser</a>
                <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> |
                Template based on <a href="https://getbootstrap.com">Bootstrap CSS</a> |
                Written with purpose using <a href="https://nodejs.org">Node.js</a>,
                <a href="https://www.w3schools.com/js/js_es6.asp">ES6</a>,
                <a href="https://www.w3schools.com/Html/html5_intro.asp">HTML5</a>,
                <a href="https://www.w3schools.com/Css/">CSS3</a>
              </p>
            </div>
          </div>
          <div class="col-md-5">
            <ul class="footer-menu">
              <li><a href="{{{_baseUrl}}}{{{_u._content}}}/terms-of-use">Terms of use</a></li>
              <li><a href="{{{_baseUrl}}}{{{_u._content}}}/code-of-conduct">Code of Conduct</a></li>
              <li><a href="{{{_baseUrl}}}{{{_u._content}}}/changelog">Changelog</a></li>
              <li><a href="{{{_baseUrl}}}{{{_u._content}}}/contact">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.End of sub footer -->
    </div>
  </div>
</footer><!-- /.End of footer -->
</div>
<!-- Optional JavaScript -->
{{#_dev}}
<%&_pageProfile.HTML%>
{{/_dev}}
{{#_script}}
{{#defer}}
<script src="{{{uri}}}" type="text/javascript" defer="defer"></script>
{{/defer}}
{{^defer}}
<script src="{{{uri}}}" type="text/javascript"></script>
{{/defer}}
{{/_script}}
{{>js}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51999698-15"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-51999698-15');
</script>
</body>
</html>
