          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer">
      <div class="row align-items-center ">
        <div class="col-md-7 order-md-first order-last">
          <div class="Copyright-text">
            <p class="m-0">Copyright © 2015-2018 <a href="https://kado.org" target="_blank">Kado</a>. All rights reserved. </p>
            <p class="m-0 d-none d-sm-block">Built with <a href="https://kado.org" target="_blank">Kado</a> using code built with love by by <a href="https://nullivex.com" target="_blank">Nullivex.</a></p>
          </div>
        </div>
        <div class="col-md-5">
          <ul class="footer-menu">
            <li><a href="/terms-of-use">Terms of use </a></li>
            <li><a href="/changelog">Changelog</a></li>
            <li><a href="/contact">Contact us</a></li>
          </ul>
        </div>
      </div>
    </footer><!-- /.End of site footer -->
  </div><!-- /.Page Content Holder -->
  <div class="overlay"></div>
</div><!-- /.End of loader -->
<!-- JavaScript -->
<script src="theme/assets/js/jquery-3.3.1.min.js"></script>
<script src="theme/assets/js/popper.min.js"></script>
<script src="theme/assets/js/bootstrap.min.js"></script>
<script src="theme/assets/js/pace.min.js"></script>
<script src="theme/assets/js/jquery.easing.min.js"></script>
<script src="theme/assets/js/jquery.dd.min.js"></script>
<script src="theme/assets/js/metisMenu.min.js"></script>
<script src="theme/assets/js/ResizeSensor.min.js"></script>
<script src="theme/assets/js/theia-sticky-sidebar.min.js"></script>
<script src="theme/assets/js/highlight.pack.js"></script>
<script src="theme/assets/js/clipboard.min.js"></script>
<script src="theme/assets/js/jquery.magnific-popup.min.js"></script>
<script src="theme/assets/OwlCarousel2/owl.carousel.min.js"></script>
<script src="theme/assets/js/script.js"></script>
</body>
</html>
