<!DOCTYPE HTML>
<html lang="en-us">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  <link href="/main.css" rel="stylesheet">
  <link href="theme/assets/css/pace.min.css" rel="stylesheet">
  <link href="theme/assets/fontawesome/css/all.css" rel="stylesheet">
  <link href="theme/assets/themify-icons/themify-icons.min.css" rel="stylesheet">
  <link href="theme/assets/css/metisMenu.min.css" rel="stylesheet">
  <link href="theme/assets/css/github.min.css" rel="stylesheet">
  <link href="theme/assets/css/magnific-popup.min.css" rel="stylesheet">
  <link href="theme/assets/OwlCarousel2/owl.carousel.min.css" rel="stylesheet">
  <link href="theme/assets/OwlCarousel2/owl.theme.default.min.css" rel="stylesheet">
  <link href="theme/assets/css/style.css" rel="stylesheet">
  <title>{{_appTitle}} - {{_l.kado}} {{_l.version}} {{_version}}</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="theme/assets/img/favicon.png" />
</head>
<body>
<div class="loader">
  {{>navbar}}
  <div class="page-content">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-9 content">
          {{>breadcrumb}}
          <div class="doc-content">
