<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  {{>css}}
  <title>Kado - Speed up your development today! Module system for Node.JS</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="assets/img/favicon.png" />
</head>
<body>
<div class="loader">
  <div class="top-search">
    <div class="input-group">
      <span class="input-group-addon"><i class="ti-search"></i></span>
      <input type="text" class="form-control" placeholder="Search for snippets ......">
      <span class="input-group-addon close-search"><i class="ti-close"></i></span>
    </div>
  </div>
  <!-- /.End of Top Search -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top no-background">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span style="color: white;">Kado</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{>nav}}
        <ul class="navbar-nav navbar-right">
          <li class="nav-item search"><a href="#" class="nav-link"><i class="ti-search"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.End of Navbar -->