<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  {{>css}}
  {{#_pageTitle}}
    <title>{{_pageTitle}}</title>
  {{/_pageTitle}}
  {{^_pageTitle}}
    <title>{{_appTitle}} - {{_l.kado}} {{_l.version}} {{_version}}</title>
  {{/_pageTitle}}
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{{_baseUrl}}}/assets/img/favicon.png" />
  <script src="{{{_baseUrl}}}/bundle/bundle.min.js"></script>
</head>
<body>
<div class="loader">
  <div class="top-search">
    <div class="input-group">
      <span class="input-group-addon"><i class="ti-search"></i></span>
      <form action="{{{_baseUrl}}}/search" method="get">
        <input type="text" class="form-control" name="searchPhrase" value="{{{_searchPhrase}}}" placeholder="Search for snippets ......">
      </form>
      <span class="input-group-addon close-search"><i class="ti-close"></i></span>
    </div>
  </div>
  <!-- /.End of Top Search -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top no-background">
    <div class="container">
      <a class="navbar-brand" href="{{{_baseUrl}}}/"><span style="color: white;">Kado</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{>nav}}
        <ul class="navbar-nav navbar-right">
          <li class="nav-item search"><a href="#" class="nav-link"><i class="ti-search"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.End of Navbar -->