{{>header}}
  <div class="header">
    <div class="container">
      <div class="header-content">
        <div class="row">
          <div class="col-lg-5 col-md-12 order-lg-first">
            <div class="header-text">
              <h1>Revolutionize your project with <strong>efficiency</strong> and <strong>extensibility.</strong> </h1>
              <p>Start developing in a <span>consistent</span>, <span>extensible,</span> environment and focus on moving <span>forward</span>.
              </p>
              <div class="header-btn">
                <a href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/installation" class="btn btn-white btn-round">Install Now</a>
                <a href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/getting-started" class="btn btn-white btn-round">Getting Started</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-1 col-md-12">
            <div class="header-img mackbook">
              <img src="{{{_baseUrl}}}/images/kado_preview.png" alt="" class="img-fluid">
              <div class="video">
                <div class="video-meta">
                  <a class="video-play popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                    <svg class="Play" width="100%" viewBox="0 0 100 100"><circle class="Play-bg" cx="50" cy="50" r="30" fill="#000"></circle><path class="Play-triangle" d="M45.8 62.1c-1.5 1-2.7.3-2.7-1.5V40.1c0-1.8 1.2-2.5 2.7-1.5l15.6 10c1.5 1 1.5 2.5 0 3.5l-15.6 10z" fill="#fff"></path></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
          <div class="section-title">
            <h2>Build something great now, then <br class="d-none d-xl-block">reuse that application forever.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="service-box">
            <div class="icon">
              <i class="flaticon-thought"></i>
            </div>
            <h3 class="title">We Innovate</h3>
            <p>Let the Kado team handle integrating and curating new technology.</p>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/why-kado" class="read-link">Read More <i class="ti-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="service-box">
            <div class="icon">
              <i class="flaticon-analytics"></i>
            </div>
            <h3 class="title">Performance</h3>
            <p>Kado can perform drastically faster that competitor stacks, remaining lightweight with a large feature set.</p>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/performance" class="read-link">Read More <i class="ti-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="service-box">
            <div class="icon">
              <i class="flaticon-support"></i>
            </div>
            <h3 class="title">A Full Package</h3>
            <p>Yes Kado is an application, but it is also a complete development environment for the modern developer.</p>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/thesis" class="read-link">Read More <i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="service-img">
            <img src="{{{_baseUrl}}}/assets/img/home_illo.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="component-block d-flex">
            <div class="component-icon">
              <i class="flaticon-student"><span></span></i>
            </div>
            <div class="component-text">
              <h3>What is Kado?</h3>
              <p>Kado is a complete development environment based on Node.js. It provides a modular environment to create applications that provide any type of activity.</p>
              <a href="{{{_baseUrl}}}{{{_u._content}}}/why-kado" class="read-link">Read More <i class="ti-arrow-right"></i></a>
            </div>
          </div>
          <div class="component-block d-flex">
            <div class="component-icon">
              <i class="flaticon-ninja"><span></span></i>
            </div>
            <div class="component-text">
              <h3>Become an IT ninja</h3>
              <p>With the use of Kado your applications will instantly be professional grade. You will only focus on implementing your great idea!</p>
              <a href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/getting-started" class="read-link">Read More <i class="ti-arrow-right"></i></a>
            </div>
          </div>
          <div class="component-block d-flex">
            <div class="component-icon">
              <i class="flaticon-see"><span></span></i>
            </div>
            <div class="component-text">
              <h3>Work faster with your tools in one place</h3>
              <p>As a developer installing each tool becomes a hassle. Kado comes with a wealth of tools right away so you only need one dependency: Kado!</p>
              <a href="{{{_baseUrl}}}{{{_u._content}}}/contributors" class="read-link">Read More <i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.End of service content -->
  <div class="articles-content bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
          <div class="section-title">
            <h2>Popular Articles</h2>
            <p>In order to take advantage of all the power Kado has to offer. Read through some of these articles.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="textblock d-flex">
            <div class="textblock-icon">
              <i class="flaticon-fresh-content"></i>
            </div>
            <div class="textblock-text">
              <h4>Amazing guides</h4>
              <p><a href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/getting-started">Getting Started</a></p>
              <p><a href="{{{_baseUrl}}}{{{_u._content}}}/install-the-demo">Install the Demo</a></p>
              <p><a href="{{{_baseUrl}}}{{{_u._content}}}/website-with-kado">Website with Kado</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="textblock d-flex">
            <div class="textblock-icon">
              <i class="flaticon-blog"></i>
            </div>
            <div class="textblock-text">
              <h4>Popular blogs</h4>
              <p><a href="{{{_baseUrl}}}{{{_u._blog}}}/kado-launch">We are pleased to announce the official launch of the Kado.org website!</a></p>
              <p><a href="{{{_baseUrl}}}{{{_u._blog}}}/kado-3.4-available">Official Availability of Kado 3.4!</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="textblock d-flex">
            <div class="textblock-icon">
              <i class="flaticon-megaphone"></i>
            </div>
            <div class="textblock-text">
              <h4>In the news</h4>
              <p><a href="https://www.nullivex.com/blog/create-a-website-with-kado">Creating an awesome website with Kado. <span class="comment"><i class="fas fa-comment-alt"></i>2</span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
          <div class="section-title">
            <h2>You’re in good company</h2>
            <p>We have been researching, developing, studying, deploying and operating advanced technology platforms for over 20 years!</p>
            <a href="{{{_baseUrl}}}{{{_u._content}}}/why-kado" class="btn btn-outline">Discover why</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel owl-theme">
            <div class="testimonial row justify-content-center">
              <div class="col-lg-7 col-md-8 col-12">
                <div class="testimonial-text">
                  <p class="lead">I finally got time to try Kado and installed it. Once I did, I was amazed. This really eases my workload!</p>
                  <h6 class="name m-0">Bryan R.</h6>
                  <span class="designation text-secondary">Senior Developer</span>
                </div>
              </div>
            </div>
            <!-- /.End of testimonial row-->
            <div class="testimonial row justify-content-center">
              <div class="col-lg-7 col-md-8 col-12">
                <div class="testimonial-text">
                  <p class="lead">I was tired of writing the same application stack over and over again. Than all the duplicate maintenance. Thus, I wrote Kado!</p>
                  <h6 class="name m-0">Nullivex</h6>
                  <span class="designation text-secondary">Kado Founder</span>
                </div>
              </div>
            </div>
            <!-- /.End of testimonial row-->
            <div class="testimonial row justify-content-center">
              <div class="col-lg-7 col-md-8 col-12">
                <div class="testimonial-text">
                  <p class="lead">I develop web applications every day. Kado made my life a thousand times easier. Give Kado a try!</p>
                  <h6 class="name m-0">George M.</h6>
                  <span class="designation text-secondary">Freelance Developer</span>
                </div>
              </div>
            </div>
            <!-- /.End of testimonial row-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.End of user content -->
  <div class="subSection dark-theme">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h4>Can't find what you're looking for?</h4>
          <p>If your question is not answered above, we're happy to help.</p>
          <a class="btn btn-white btn-round" href="{{{_baseUrl}}}{{{_u._content}}}/support">Submit a Support Request</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.End of subSection -->
{{>footer}}