    <!-- JavaScript -->
    <script src="/bundle/bundle.min.js"></script>
    <script src="/assets/js/pace.min.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/jquery.dd.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/ResizeSensor.min.js"></script>
    <script src="/assets/js/theia-sticky-sidebar.min.js"></script>
    <script src="/assets/js/clipboard.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="/assets/js/script.js"></script>
