    <!-- JavaScript -->
    <!--<script src="{{{_baseUrl}}}/assets/js/pace.min.js" defer="defer"></script>-->
    <script src="{{{_baseUrl}}}/assets/js/jquery.easing.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/js/jquery.dd.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/js/metisMenu.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/js/ResizeSensor.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/js/theia-sticky-sidebar.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/js/clipboard.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/js/jquery.magnific-popup.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/OwlCarousel2/owl.carousel.min.js" defer="defer"></script>
    <script src="{{{_baseUrl}}}/assets/js/script.js" defer="defer"></script>
