<!-- JavaScript -->
<script src="{{{_baseUrl}}}/assets/js/jquery.easing.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/js/jquery.dd.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/js/metisMenu.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/js/ResizeSensor.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/js/theia-sticky-sidebar.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/js/clipboard.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/js/jquery.magnific-popup.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/OwlCarousel2/owl.carousel.min.js" type="text/javascript" defer="defer"></script>
<script src="{{{_baseUrl}}}/assets/js/script.js" type="text/javascript" defer="defer"></script>
