<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Docs
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownDocs">
      <a class="dropdown-item" href="/docs/kado/getting-started">Getting Started</a>
      <a class="dropdown-item" href="/docs/kado/installation">Installation</a>
      <a class="dropdown-item" href="/docs/kado/config">Configuration</a>
      <a class="dropdown-item" href="/docs/kado/databases">Databases</a>
      <a class="dropdown-item" href="/docs/kado/interface-reference">Interface Reference</a>
      <a class="dropdown-item" href="/docs/kado/kado-reference">Kado Reference</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/support">Support</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pages
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownPages">
      <a class="dropdown-item" href="/about-kado">About Kado</a>
      <a class="dropdown-item" href="/changelog">Changelog</a>
      <a class="dropdown-item" href="/faq">F.A.Q</a>
      <a class="dropdown-item" href="/contact">Contact</a>
      <a class="dropdown-item" href="/blog">Blog</a>
    </div>
  </li>
</ul>