<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{{{_baseUrl}}}/">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Docs
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownDocs">
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/getting-started">Getting Started</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/installation">Installation</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/configuration">Configuration</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/database">Database</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/interfaces">Interfaces</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/templates">Templates</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/api">API</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/release-cycle">Release Cycle</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/kado-reference">Kado Reference</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._doc}}}/kado/3.x/developer">Developer</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{{_baseUrl}}}{{{_u._content}}}/support">Support</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{{_baseUrl}}}{{{_u._blog}}}">Blog</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pages
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownPages">
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._content}}}/about-us">About Kado</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._content}}}/thesis">Thesis</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._content}}}/faq">F.A.Q</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._content}}}/why-kado">Why Kado</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._content}}}/performance">Performance</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._content}}}/changelog">Changelog</a>
      <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._content}}}/contact">Contact</a>
    </div>
  </li>
</ul>