<div class="top-search">
  <div class="input-group">
    <span class="input-group-addon"><i class="ti-search"></i></span>
    <input type="text" class="form-control" placeholder="Search for snippets ......">
    <span class="input-group-addon close-search"><i class="ti-close"></i></span>
  </div>
</div>
<!-- /.End of Top Search -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="/">
    Kado
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" id="sidebarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Docs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownDocs">
          <a class="dropdown-item" href="/docs/kado/getting-started">Getting Started</a>
          <a class="dropdown-item" href="/docs/kado/installation">Installation</a>
          <a class="dropdown-item" href="/docs/kado/config">Configuration</a>
          <a class="dropdown-item" href="/docs/kado/databases">Databases</a>
          <a class="dropdown-item" href="/docs/kado/interface-reference">Interface Reference</a>
          <a class="dropdown-item" href="/docs/kado/kado-reference">Kado Reference</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support">Support</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownPages">
          <a class="dropdown-item" href="/about-kado">About Kado</a>
          <a class="dropdown-item" href="/changelog">Changelog</a>
          <a class="dropdown-item" href="/faq">F.A.Q</a>
          <a class="dropdown-item" href="/contact">Contact</a>
          <a class="dropdown-item" href="/blog">Blog</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- /.End of Navbar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3><i class="fas fa-tachometer-alt"></i><span>Kado</span>Docs</h3>
    <div class="dropdown version">
      <a class="ver-drop dropdown-toggle" href="#" role="button" id="versionDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        v3.x
      </a>
      <div class="dropdown-menu" aria-labelledby="versionDropdownMenu">
        <div>Versions</div>
        <a class="dropdown-item active" href="/doc/kado">latest</a>{{>sidebar}}
        <a class="dropdown-item" href="/doc/kado/3.x">3.x</a>
      </div>
    </div>
    <div class="form-group has-search">
      <span class="ti-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search docs ...">
    </div>
    <!-- /.Actual search box -->
  </div>
  <ul class="metismenu sidebarMenu list-unstyled">
    <li><a href="layout-general.html">Overview</a></li>
    <li class="active">
      <a class="has-arrow" href="#" aria-expanded="true">Layouts</a>
      <ul aria-expanded="true">
        <li class="active"><a href="layout-general.html">General Layout</a></li>
        <li><a href="layout-sidebar.html">Sidebar Layout</a></li>
        <li><a href="layout-minimal.html">Minimal Layout</a></li>
        <li><a href="blank.html">Blank Page</a></li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="#" aria-expanded="false">Content</a>
      <ul aria-expanded="false">
        <li><a href="typography.html">Typography</a></li>
        <li><a href="images.html">Images</a></li>
        <li><a href="video.html">Videos</a></li>
        <li><a href="tables.html">Tables</a></li>
        <li><a href="code.html">Code</a></li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="#" aria-expanded="false">Utilities</a>
      <ul aria-expanded="false">
        <li><a href="alerts.html">Alerts</a></li>
        <li><a href="accordion.html">Accordion</a></li>
        <li><a href="progress.html">Progress</a></li>
        <li><a href="buttons.html">Buttons</a></li>
        <li><a href="changelog.html">Changelog</a></li>
      </ul>
    </li>
  </ul>
</nav>
<!-- /.End of Sidebar Holder -->